<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot05shiro.dao.UserMapper">

    <resultMap id="queryAllUsersResultMap" type="user">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roleNames" ofType="string">
            <result column="role_name"/>
        </collection>
    </resultMap>

    <select id="queryAllUsers" resultMap="queryAllUsersResultMap">
        select u.id id, u.username username, u.password password, ur.role_name role_name
        from mybatis.users u,
             mybatis.user_roles ur
        where u.username = ur.username
    </select>

</mapper>